<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144802771227-93it6qdudcd8v6mfhncajbsrfvelte3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144802771227-93it6qdudcd8v6mfhncajbsrfvelte3l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144802771227-5lsscmaocpp7erbpgun72d6k1eq74mdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsjkU95Or6ObynTiouR-T48LP0AbHC1Do</string>
	<key>GCM_SENDER_ID</key>
	<string>144802771227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farestrand.appleshare</string>
	<key>PROJECT_ID</key>
	<string>appleshare-61bc6</string>
	<key>STORAGE_BUCKET</key>
	<string>appleshare-61bc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144802771227:ios:3a9cb988cfc1d147e763be</string>
</dict>
</plist>